*{
  margin:0 auto;
  text-align: center;
  /* background-color: #282c34; */
  /* background-color: #282c34; */
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(30 27 75);
  min-height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

input {
  color: black;
}

@import url(https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.codeblock {
  font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.demo {
  font-family: "Fira Code", monospace;
}



/* h1, div, h4 {
  color: white;
} */

.segmenterCard {
  padding: .25em;
  margin: .25em;
}

.hover-slide{
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .350ms ease-in-out, box-shadow .3s ease-in-out;
}

.hover-slide:hover{
  box-shadow: inset 200px 0 0 0 #54b3d6;
  color: white;
}

.card-span{
  font-size: 15px;
}

/* CODE EDITOR */

.codeEditor{
  /* height: 50vh; */
  /* width: 50vw;  */
  text-align:left;
}

.editor {
  font-size: 25px;
  text-align:left;
} 

/* NAV LINKS */
.active {
  background-color: inset 0 0 0 0 #54b3d6 ;
  box-shadow: inset 0 0 0 0 #102d38;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .350ms ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}

.linkSlide:hover {
  background-color: #54b3d6;
  color: #0e4f67;
  transition: color .350ms ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}

.inactive {
  
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

/* .inactive {
  margin: 0 5 0 5
  color:
  mx-5 text-indigo-950
} */

/* .profilePhotoInput{
  width: 
} */